@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Colors and styling */
:root {
    --primary-color: hsl(199,100%,33%);
    --secondary-color: hsl(187,85%,43%);
    --gradient-color: linear-gradient(120deg, var(--primary-color), var(--secondary-color));
    --while-color: hsl(0, 0%, 100%);
    --black-color: hsl(201, 33%, 16%);
    --whilte-color-deam: hsl(0, 0%, 93%);
    --gray-text: rgba(190, 190, 190);
    --textColor: hsl(240, 4%, 36%);
    --input-color: rgba(239, 239, 239);
    --body-color: rgba(240, 240, 246);
    --cartbg-color: rgba(255, 255, 255);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: azure;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.section{
    padding: 4rem 0 2 rem;
}
.container {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
}
.icon {
    font-size : 2rem;
    cursor: pointer;
}
.flex{  
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
}
.btn{
    padding: .6rem 1.5rem;
    background : var(--gradient-color);
    border-radius: 3rem;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn a {
    color: var(--while-color);
    font-weight: 500;
}
.btn:hover {
   background: var(--secondary-color); 
}
img, video {
    width: 100%;
    height: auto;
}
input{
    font-size: 100%;
}
@media screen and (min-width: 1240px){ 
    .container{
        width: 90% !important;
        margin: auto !important;
    }
    .section{
        padding: 6rem 0 4rem;
        /* trên 6rem dưới 0 và bên phải bên trái 4rem */
    } 
    
}
@media screen and (min-width: 2560px){
   body{
      zoom: 1.7;
      /* phóng to 1.7 lần */
   }
    
}